{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-centre">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        Price: {{ product.price }}
                    </p>
                </div>
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-selected="true">Описание</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="profile" aria-selected="false">Доставка</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                      </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content product-description-tabs">
                      <div class="tab-pane active" id="description" role="tabpanel" aria-labelledby="home-tab">
                          {{ product.description }}
                      </div>
                      <div class="tab-pane" id="delivery" role="tabpanel" aria-labelledby="profile-tab">
                          <h1>
                              Как мы делали доставку
                          </h1>
                      </div>
                      <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">

                      </div>
                      <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">

                      </div>
                    </div>
                </div>
                <div>
                    <form id="form_buying_product" class="form-inline">
                        <div class="form-group">
                            <input type="number" class="form-control" name="number" id="number">
                        </div>
                            <div class="form-group">
                                <button type="submit" id="submit-btn" class="btn btn-success btn-buy"
                                    data-product_id = "{{ product.id }}"
                                    data-name = "{{ product.name }}"
                                    data-price = "{{ product.price }}"
                                >

                                    Купить
                                </button>
                            </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
{% endblock %}