<nav class="navbar navbar-expand-md  mb-4 navbar-top">

</nav>
<nav class="navbar navbar-expand-md mb-4 navbar-main">
  <a class="navbar-brand" href="#">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
          <li>
              <div class="basket-container">
                 <a href="">Корзина</a>
                  <div class="basket-items d-none ">
                      <ul class="">
                          <li>we</li>
                      </ul>
                  </div>
              </div>

          </li>
      </ul>

  </div>

</nav>